apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
type: Opaque 
stringData:
  JWT_KEY: "Ashishisbestdeveloper"
  MONGO_DB: "mongodb+srv://kaumatchobey_db_user:SyiPrtZgJ5iqwtJG@cluster0.g9xmivx.mongodb.net/?appName=Cluster0"
  PORT: "4000"